.awards{
    width: auto;
    height: auto;
    margin: 0px 140px;

    @media (max-width: 1199px) {
        margin: 0px 100px;
    }

    @media (max-width: 767px) {
        margin: 0px 50px;
    }

    .awards__title{
        width: 100%;

        span{
            font-family: 'Coda', cursive;
            font-style: normal;
            font-weight: 400;
            font-size: 63px;
            line-height: 83px;
            color: $border_color;
            display: block;
            margin-left: 40px;
            padding: 90px 0px;


            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 55px;
                margin-left: 35px;
                padding: 72px 0px;
            }
    
            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 45px;
                margin-left: 30px;
                padding: 52px 0px;
            }
    
            @media (min-width: 480px) and (max-width: 767px) {
                font-size: 35px;
                margin-left: 25px;
                padding: 32px 0px;
            }
    
            @media (min-width: 320px) and (max-width: 479px) {
                font-size: 25px;
                margin-left: 0px;
                padding: 22px 0px;
            }
    
            @media (max-width: 320px) {
                font-size: 15px;
                margin-left: 0px;
                padding: 12px 0px;
            }
        }
    }

    .awards__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        border-bottom: 1px solid $border_color;


        .awards_item{
            width: 100%;
            display: flex;
            flex-direction: row;

            @media (max-width: 991px) {
                flex-direction: column;
            }


            .award_info{
                width: 66.6%;
                height: auto;
                border-top: 1px solid $border_color;
                display: flex;
                flex-direction: row;

                @media (max-width: 991px) {
                    width: 100%;       
                }

                @media (max-width: 767px) {
                    flex-direction: column;
                }

                .name_award{
                    width: 50%;
                    padding: 60px;

                    @media (max-width: 767px) {
                        width: 100%;
                    }

                    @media (min-width: 992px) and (max-width: 1199px) {
                        padding: 50px;
                    }
            
                    @media (min-width: 768px) and (max-width: 991px) {
                        padding: 40px;
                    }
            
                    @media (min-width: 480px) and (max-width: 767px) {
                        padding: 30px;
                    }
            
                    @media (min-width: 320px) and (max-width: 479px) {
                        padding: 20px;
                    }
            
                    @media (max-width: 320px) {
                        padding: 10px;
                    }


                    .name{
                    
                        span{
                            font-family: 'Coda', cursive;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 32px;
                            line-height: 42px;
                            color: $border_color;
                            display: block;

                            @media (min-width: 992px) and (max-width: 1199px) {
                                font-size: 30px;
                            }
                    
                            @media (min-width: 768px) and (max-width: 991px) {
                                font-size: 25px;
                            }
                    
                            @media (min-width: 480px) and (max-width: 767px) {
                                font-size: 20px;
                            }
                    
                            @media (min-width: 320px) and (max-width: 479px) {
                                font-size: 17px;
                            }
                    
                            @media (max-width: 320px) {
                                font-size: 15px;
                            }
                        }
                    }

                    .year{

                        span{
                            font-family: 'Work Sans', cursive;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 20px;

                            @media (min-width: 992px) and (max-width: 1199px) {
                                font-size: 11px;
                            }
                    
                            @media (min-width: 768px) and (max-width: 991px) {
                                font-size: 10px;
                            }
                    
                            @media (min-width: 480px) and (max-width: 767px) {
                                font-size: 9px;
                            }
                    
                            @media (min-width: 320px) and (max-width: 479px) {
                                font-size: 8px;
                            }
                    
                            @media (max-width: 320px) {
                                font-size: 7px;
                            }
                        }
                    }
                }

                .description_award{
                    width: 50%;
                    padding: 60px;

                    @media (max-width: 767px) {
                        width: 100%;
                    }

                    @media (min-width: 992px) and (max-width: 1199px) {
                        padding: 50px;
                    }
            
                    @media (min-width: 768px) and (max-width: 991px) {
                        padding: 40px;
                    }
            
                    @media (min-width: 480px) and (max-width: 767px) {
                        padding: 30px;
                    }
            
                    @media (min-width: 320px) and (max-width: 479px) {
                        padding: 20px;
                    }
            
                    @media (max-width: 320px) {
                        padding: 10px;
                    }

                    span{
                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        color: $border_color;

                        @media (min-width: 992px) and (max-width: 1199px) {
                            font-size: 15px;
                        }
                
                        @media (min-width: 768px) and (max-width: 991px) {
                            font-size: 15px;
                        }
                
                        @media (min-width: 480px) and (max-width: 767px) {
                            font-size: 15px;
                        }
                
                        @media (min-width: 320px) and (max-width: 479px) {
                            font-size: 15px;
                        }
                
                        @media (max-width: 320px) {
                            font-size: 15px;
                        }
                    }
                }
            }

            .img_award{
                width: 33.3%;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    @media (max-width: 1440px) {
                        width: 80%;
                    }
                }

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }
    }

}