<section class="about">
  <div class="about__title">
    <span>LESS IS MORE AT NOVA</span>
  </div>
  <div class="about__content">
    <div class="btn__out">
      <div class="circle">
        <i class="fas fa-external-link-alt"></i>
      </div>
      <div class="text">ABOUT NOVA</div>
    </div>
    <div class="text_content">
      <span
        >Hey, you know how I'm, like, always trying to save the planet? Here's
        my chance. So you two dig up, dig up dinosaurs?</span
      >
    </div>
    <div class="card">
      <div class="card_content">
        <div class="font_card"></div>
        <div class="back_card">
          <div class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde
            fugit, incidunt laudantium doloribus quaerat doloremque nisi, nemo
            impedit quisquam mollitia non, exercitationem quae asperiores minus
            saepe. Quasi perferendis pariatur voluptate? Lorem ipsum dolor sit
            amet consectetur, adipisicing elit. Quam nemo in vitae rerum illum
            consectetur consequatur, eos adipisci minima tempora aspernatur
            cupiditate perferendis laudantium atque? Aspernatur autem sapiente
            ratione ad.
          </div>
        </div>
      </div>
    </div>
    <div class="text_content">
      <span
        >Goodbye! You really think you can fly that thing? You're a very
        talented young man, with your own clever thoughts and ideas.</span
      >
    </div>
  </div>
</section>
