<section class="awards">
    <div class="awards__title">
        <span>AWARDS WE WON</span>
    </div>
    <div class="awards__content">
        <div class="awards_item">
            <div class="award_info">
                <div class="name_award">
                    <div class="name">
                        <span>NSW</span>
                        <span>AWARD</span>
                    </div>
                    <div class="year">
                        <span>2021</span>
                    </div>
                </div>
                <div class="description_award">
                    <span>
                        Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should.
                    </span>
                </div>
            </div>
            <div class="img_award">
                <img src="./img/nsw.png" alt="NSW">
            </div>
        </div>

        <div class="awards_item">
            <div class="award_info">
                <div class="name_award">
                    <div class="name">
                        <span>ROBIN BOYD</span>
                        <span>AWARD</span>
                    </div>
                    <div class="year">
                        <span>2019</span>
                    </div>
                </div>
                <div class="description_award">
                    <span>
                        They're using our own satellites against us. And the clock is ticking. You know what? It is beets. I've crashed into a beet truck. Checkmate...
                    </span>
                </div>
            </div>
            <div class="img_award">
                <img src="./img/robin.png" alt="robin">
            </div>
        </div>

        <div class="awards_item" id="last">
            <div class="award_info">
                <div class="name_award">
                    <div class="name">
                        <span>PRITZKER</span>
                        <span>PRIZE</span>
                    </div>
                    <div class="year">
                        <span>2018</span>
                    </div>
                </div>
                <div class="description_award">
                    <span>
                        Hey, take a look at the earthlings. Goodbye! Checkmate... Yeah, but John, if The Pirates of the Caribbean breaks down, the pirates don’t eat the tourists.
                    </span>
                </div>
            </div>
            <div class="img_award">
                <img src="./img/pritz.png" alt="NSW">
            </div>
        </div>
    </div>
</section>