<section class="create">
    <div class="create__title">
        <span>LET'S CREATE SOMETHING TOGETHER</span>
    </div>
    <div class="create__content">
        <div class="btn__out">
            <div class="circle">
                <i class="fas fa-external-link-alt"></i>            
            </div>
            <div class="text">
                WRITE TO US
            </div>
        </div>
        <div class="up_text">
            <span>They're using our own satellites against us. And the clock is ticking. You know what? It is beets.</span>
        </div>
        <div class="img_content">
            <div class="img_circle">
                <img src="./img/circle.png" alt="">
            </div>
        </div>
        <div class="down_text">
            <span>Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! Forget the fat lady!</span>
        </div>
    </div>
</section>