<footer>
  <div class="footer_content">
    <div class="info">
      <div class="block_info">
        <div class="img">
          <img src="./img/footer.png" alt="" />
        </div>
        <div class="title">
          <span>HIRE US FOR WEBSITES LIKE THIS</span>
        </div>
        <div class="mail">
          <span>Mail us :</span>
          <span>barsha@righthemisphere.in</span>
        </div>
      </div>
    </div>
    <div class="btn">
      <a href="#">
        <div class="btn_footer">
          <span>Home</span>
        </div>
      </a>
      <a href="#">
        <div class="btn_footer">
          <span>About</span>
        </div>
      </a>
    </div>
    <div class="btn">
      <a href="#">
        <div class="btn_footer">
          <span>Project</span>
        </div>
      </a>
      <a href="#">
        <div class="btn_footer">
          <span>Contact</span>
        </div>
      </a>
    </div>
  </div>
</footer>
