<section class="high">
  <div class="title__high">
    <span>NOVA HIGHLIGHTS</span>
  </div>
  <div class="content__high">
    <div class="content_item">
      <div class="title">
        <span>169</span>
      </div>
      <div class="image">
        <img src="./img/double.png" alt="double" />
      </div>
      <div class="text">
        <span
          >Yeah, but your scientists were so preoccupied with whether or
          not.</span
        >
      </div>
    </div>
    <div class="content_item">
      <div class="title">
        <span>200</span>
      </div>
      <div class="image">
        <img src="./img/earth.png" alt="double" />
      </div>
      <div class="text">
        <span
          >Yeah, but your scientists were so preoccupied with whether or
          not.</span
        >
      </div>
    </div>
    <div class="content_item">
      <div class="title">
        <span>100 MIL</span>
      </div>
      <div class="image">
        <img src="./img/dollar.png" alt="double" />
      </div>
      <div class="text">
        <span
          >Yeah, but your scientists were so preoccupied with whether or
          not.</span
        >
      </div>
    </div>
  </div>
</section>
