<header>
  <div class="navbar__container">
    <div class="logo_section">
      <a href="#" class="logo">N</a>
    </div>
    <div class="navs_section">
      <nav>
        <a href="#" class="nav_btn">Home</a>
        <a href="#" class="nav_btn">Project</a>
        <a href="#" class="nav_btn">About</a>
      </nav>
    </div>
    <div class="right_section">
      <a href="#" class="nav_btn">Contact</a>
      <i id="mobile-btn" class="far fa-building close"></i>
    </div>
  </div>
</header>

<!-- mobile -->
<div class="mobile_nav">
  <a href="#" class="header__nav">Home</a>
  <a href="#" class="header__nav">Project</a>
  <a href="#" class="header__nav">About</a>
  <a href="#" class="header__nav">Contact</a>
</div>
