<section class="office">
    <div class="office__title">
        <span>OUR SAN FRANCISCO OFFICE</span>
    </div>
    <div class="office__content">
        <div class="arrow">
            <div id="prevv" class="circle_grey">
                <i class="fas fa-arrow-left"></i>
            </div>
        </div>
        <div class="fade_slider">
            <div class="item" style="background-image: url(./img/card.png);"></div>
            <div class="item" style="background-image: url(./img/nature1.jpg);"></div>
            <div class="item" style="background-image: url(./img/nature2.jpg);"></div>
        </div>
        <div class="arrow">
            <div id="nextt" class="circle_grey">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
</section>