<div class="preloader">
    <svg width="282" height="185" viewBox="0 0 282 185" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="logo-path" d="M7.5 167L7.5 5" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <line x1="7.79185" y1="4.63714" x2="68.6371" y2="167.208" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M69.5 167L69.5 5" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M86 8L85.0124 167" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M85 167L159.515 168.5" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M85.5 8L161 7" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M161.003 7L160.012 167" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M177 5L177 170" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M177 170L258 9.99999" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M194 170.928L277 10.9278" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M277.495 10L276.991 170.928" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <path id="logo-path" d="M239 84.9279H276" stroke="#574B4B" stroke-width="9" stroke-linecap="round"/>
        <line x1="3.5" y1="181.5" x2="278.5" y2="181.5" stroke="#F55D48" stroke-width="7" stroke-linecap="round"/>
        </svg>
             
</div>