<section class="project">
    <div class="title_project">
        <span>NOVA PROJECTS</span>      
    </div>
    <div class="slider_project">
        <div class="content_slider">
            <div class="navigate_left">
                <div class="information">
                    <div class="title">
                        <span id="title"></span>
                    </div>
                    <div class="text">
                        <span id="text"></span>
                    </div>
                </div>
                <div id="prev" class="arrow">
                    <div class="circle_grey">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                </div>
            </div>
            <div class="slideshow">
                <div class="slider">
                  <div class="item">
                    <img src="./img/slide.png" />
                  </div>
                  <div class="item">
                    <img src="./img/slide2.jpg" />                  
                </div>
                  <div class="item">
                    <img src="./img/slide3.jpg" />                  
                </div>
                </div>
              </div>
            <div class="navigate_right">
                <div class="btn__out">
                    <div class="circle">
                        <i class="fas fa-external-link-alt"></i>            
                    </div>
                    <div class="text">
                        VIEW PROJECT
                    </div>
                </div>
                <div class="arrow">
                    <div id="next" class="circle_grey">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>