// Main styles file

@import './settings/colors';
@import './settings/fonts';
@import './components/navbar';
@import './components/lazy';
@import './components/image';
@import './components/about';
@import './components/projtect';
@import './components/high';
@import './components/awards';
@import './components/office';
@import './components/create';
@import './components/footer';


body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: $orange;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid $orange;  /* padding вокруг плашки */
}

html, body{
    margin: 0;
    padding: 0;
}

main{
    height: auto;
}