// Main styles file

@import './settings/colors';
@import './settings/fonts';
@import './components/navbar';
@import './components/lazy';
@import './components/image';



html, body{
    margin: 0;
    padding: 0;
}

main{
    height: auto;
}